.custom-button {

    min-width: 165px;
   
    width: auto;
   
    height: 50px;
   
    letter-spacing: 0.5px;
   
    line-height: 50px;
   
    padding: 0 35px 0 35px;
   
    font-size: 15px;
   
    background-color: black;
   
    color: white;
   
    text-transform: uppercase;
   
    font-family: 'Open Sans Condensed';
   
    font-weight: bolder;
   justify-content: center;
    border: none;
   
    cursor: pointer;
    background: linear-gradient(to right,white 50%, black    50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
   
   
   &:hover {
   
    background-color: white;
   
    color: black;
   //border: 1px solid black;
    background-position: left bottom; 
    }
    &.google-sign-in{
background-color:#4285f4;
margin-left: 2fr;
color: white;
background: linear-gradient(to right,#4285f4 50%, #357ae8   50%);
background-size: 200% 100%;
background-position: left bottom;
transition: all .5s ease-out;
 
&:hover{
    background-color: #357ae8;
    border: none;
    background-position: right bottom;
}
    }
    
    &.inverted{
        background-color: white;
   
        color: white;
       border: 1px solid black; 
        &:hover{
            background-color:white;
            color:black;
        }
    }
}